.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styling */

body{
  background-color: lightgoldenrodyellow;
  font-family: 'Roboto', sans-serif;
}

.wrapper{
  max-width:90%;
}

h1{
  font-family: 'DotGothic16', sans-serif;
  font-size:60px;
}

main{
  margin: 5px 0px 25px;  
}

.fa:before {
  font-size:50px;
  padding : 20px;
  background-color: lightgrey;
  border-radius: 50%;
  margin:10px;
}


.fa-question:before {
  background-color: goldenrod;
}

footer{
  margin-top:30px;
  padding:5px;
  background-color: lightgrey;
}
/* Media queries */
@media(max-width:400px){
  h1{
    font-size: 40px;
  }

}
